<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>社會影響加速器</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="社會影響加速器"
      content="社會影響加速器是台中服務設計的社會企業串門子社會設計融合設計思考及方案設計思維所發展的一個網站，為社工、專業工作者、教育訓練人員及公益捐款單位，設計一款加速方案設計與效益評估的優化工具，希望幫助組織更具體傳遞社會影響力。"
    />
    <meta
      name="keywords"
      content="社會工作,社會服務,家庭方案,老人方案,青少年方案,團體動力,身心障礙,方案效益報告,方案設計,方案計畫,優化工具,設計思考,AI助手,本質思考,服務策略,成果產出,成效影響"
    />
    <meta content="網頁設計：雅典娜整合行銷" property="article:author" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="pragma" content="cache" />
    <meta http-equiv="window-target" content="_top" />
    <meta
      name="copyright"
      content="2023 © 串門子社會影響加速器 │ All Rights Reserved."
    />
    <meta name="revisit-after" content="1 days" />
    <meta name="robots" content="all" />
    <link rel="icon" href="/src/assets/images/link-logo.png" />
  </head>

  <body>
    <style>
      .nosContainer {
        max-width: 1000px;
        margin: 80px auto;
        width: 100%;
        padding: 0 24px;
      }

      .box {
        display: flex;
        justify-content: center;
      }

      .box-img {
        width: 80%;
        display: block;
        max-width: 100%;
      }

      .box-title {
        font-size: 28px;
        text-align: center;
        display: flex;
        justify-content: center;
      }

      .box-subTitle {
        font-size: 24px;
        text-align: center;
        display: flex;
        justify-content: center;
      }
    </style>
    <meta
      name="google-site-verification"
      content="Uutt9RfN0INRlILEpN7thWd7E3ixRVweNMvV0mj8mHo"
    />
    <noscript>
      <div class="nosContainer">
        <div class="box">
          <img
            class="box-img"
            src="/src/assets/images/Logo+typography-300dpi.png"
            alt="社會影響加速器Logo"
          />
        </div>
        <h1 class="box-title">
          您的瀏覽器不支援JavaScript功能，若網頁功能無法正常使用時，請開啟瀏覽器JavaScript狀態
        </h1>
        <h2 class="box-subTitle">開啟後，請再重新整理此網頁</h2>
      </div>
    </noscript>
    <div id="app">
      <div class="contact mt-0 pt-0 container-fluid">
        <h2 class="contact--img center">
          <img
            src="../../assets/images/contact.png"
            class="col-6"
            alt="聯絡我們"
          />
        </h2>
        <div class="contact--info center">
          <div class="info--box">
            <div class="info--title center">
              <h3 class="fs-lg-3xl fs-md-xl fs-sm-base fw-medium lh-lg">
                — 我們會在3個工作天內回覆您 —
              </h3>
            </div>
            <div class="center info--content">
              <h3 class="lh-lg fs-lg-xl fs-sm fs-md-lg fw-regular">
                除了目前網站的服務以外，若有其他合作的期待，歡迎聯絡我們。
              </h3>
            </div>
          </div>
        </div>
        <VForm ref="contactForm" v-slot="{ errors }" @submit="sendMessage">
          <div class="contact--form row center">
            <div class="form--box col-lg-4 col-6">
              <div class="mb-3">
                <label for="contactName" class="form-label"
                  >姓名<span class="fs-base text-danger" aria-hidden="ture"
                    >*</span
                  ></label
                >
                <VField
                  type="text"
                  class="form-control required"
                  id="contactName"
                  placeholder="請輸入姓名"
                  name="姓名"
                  :class="{ 'is-invalid': errors['姓名'] }"
                  rules="required"
                  v-model="contactData.customers_name"
                />
                <ErrorMessage name="姓名" class="invalid-feedback" />
              </div>
              <div class="mb-3">
                <label for="contactEmail" class="form-label"
                  >電子信箱<span class="fs-base text-danger" aria-hidden="ture"
                    >*</span
                  ></label
                >
                <VField
                  type="email"
                  class="form-control required"
                  id="contactEmail"
                  aria-describedby="emailHelp"
                  placeholder="請輸入電子信箱"
                  name="電子信箱"
                  :class="{ 'is-invalid': errors['電子信箱'] }"
                  rules="email|required"
                  v-model="contactData.customers_email"
                />
                <ErrorMessage name="電子信箱" class="invalid-feedback" />
              </div>
              <div class="mb-3">
                <label for="contactSubject" class="form-label">主旨</label>
                <input
                  type="text"
                  class="form-control required"
                  id="contactSubject"
                  placeholder="請輸入主旨"
                  v-model="contactData.contacts_subject"
                />
              </div>
              <div class="mb-3 message center">
                <label for="message" class="form-label"
                  >訊息<span class="fs-base text-danger" aria-hidden="ture"
                    >*</span
                  ></label
                >
                <VField
                  type="text"
                  class="form-control required"
                  id="message"
                  placeholder="請輸入訊息(限300字內)"
                  name="請輸入訊息"
                  :class="{ 'is-invalid': errors['請輸入訊息'] }"
                  as="textarea"
                  rules="required|max:300"
                  style="min-height: 10rem"
                  v-model="contactData.contacts_message"
                ></VField>
                <ErrorMessage name="請輸入訊息" class="invalid-feedback" />
              </div>
              <div class="form--btn">
                <button
                  type="submit"
                  class="btn btn-dark w-100"
                  title="送出訊息"
                >
                  送出訊息
                </button>
              </div>
            </div>
            <!-- <div class="modal" alt="完成表單">
                  <div class="triangle"></div>
                  <div class="square">完成</div>
                </div> -->
          </div>
        </VForm>
      </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
